<section class="frontpage-section">

    <h1>Join Our Community</h1>
    <div class="community-container">
        <div class="community-card">
            <img src="images/justice.svg"></img>
            <h3>Coordinate Mandate Lawsuits</h3>
            <span>We are compiling lists of legal funds assisting lawsuits against vaccine mandates near you. Donate directly or add new lawsuit data.</span>
        </div>

        <div class="community-card">
            <img src="images/github.svg"></img>
            <h3>Contribute Code Via Github</h3>
            <span>Help us make our technological efforts run smoother by reviewing our latest issues and submitting a pull request.</span>
        </div>

        <div class="community-card">
            <img src="images/telegram.svg"></img>
            <h3>Join Group Chat On Telegram</h3>
            <span>Share other ways we can spread the Liberty Mandate far and wide on a platform that won't put obstacles in our way.</span>
        </div>
    </div>
</section>
