<div class="hero-bg">
    <div class="hero-overlay">
        <div class="overlay-container">
            <div class="call-to-action">
                <h1>History is repeating. Will you allow your rights to be resigned?</h1>
                <button>Buy a Sign</button>
            </div>
            <div class="hero-feature-container">
                
                <div class="carousel-container">
                    <img class="carousel-image" src="images/LMP-BlueFlame.png">
                    <img class="carousel-image" src="images/LMP-LadyGreenback.png">
                    <img class="carousel-image" src="images/LMP-LadyGadsen.png">
                </div>

            </div>  
        </div>
    </div>
</div>

<script src="https://use.fontawesome.com/2f5189959d.js"></script>

{{ $script := resources.Get "js/heroCarousel.js" }}
<script src="{{ $script.RelPermalink }}"></script>