.hero-heading{
    font-style: normal;
    font-weight: 600;
    font-family: var(--sanserif);
    line-height: 1.15;
    color: var(--primary);
    margin: 0;
  
    /*PHABLET*/
    @media screen and (max-width: $phablet){
      font-size: 2rem;
    }
}

.hero-bg{
    background-image: url('../images/USA-sunset2.svg');
    background-attachment: fixed;
    background-size: cover;
    background-position-x: 25%;
    height: 87%;
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .hero-overlay {
        display: flex; 
        justify-content: center; 
        align-items: center; 
        height: inherit;
    
        .overlay-container {
            display: flex; 
            flex-direction: row; 
            align-items: center;
    
            .call-to-action {
    
                display: flex;
                flex-direction: column;
                align-items: center;
            
                h1 {
                    -webkit-text-stroke-width: 2px; 
                    -webkit-text-stroke-color: black; 
                    font-weight: 900; font-family: Arial, Helvetica, sans-serif; 
                    text-align: center;
                    width: 90%;
                }
            
                button {
                    background-color: var(--dark-background); 
                    color: var(--dark-primary); 
                    font-family: inherit;
                    padding: 10px 5px;
                    border-radius: 6px;
                    font-weight: 600;
                    width: 300px;
                    text-transform: uppercase;
                }
            
            }        
        
            .hero-feature-container {
                display: flex; 
                flex-direction: row;
                align-items: center;
                padding-right: 10%;

                .carousel-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;;
                    margin: 0 10px;
                    width: 267px;
                    height: 400px;
                    position: relative;

                    img {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        width: 100%;
                        height: 100%;
                        margin-bottom: 10px;
                    }
                    
                    .dotList {
                        margin-top: 400px;
                    }
                }
            }
            // .overlay-container
            @media screen and (max-width: $tablet) {   
                flex-direction: column-reverse;
                .hero-feature-container {
                    padding-right: 0;
                    padding-top:10%;
                }
                .carousel-container img {
                    max-height: 350px;
                }
            }
        }
        
    }
    @media screen and (max-height: 950px) and (max-width: $tablet) {
        .call-to-action {
            margin-top: -3%;
            padding-bottom: 10%;
        }
    }
    @media screen and (max-height: 750px) and (max-width:$phablet) {
        align-items: top;
        .hero-bg {
            height: 200vh;
        }
        .hero-feature-container {
            padding-top: 0;
        }
        .call-to-action {
            margin-top: -1%;
            padding-bottom: 0;
        }
        .hero-feature-container img {
            height: 500px;
        }
    }    

}




