<div class="hero-container">
    <div style="display: flex; justify-content: center; align-items: center; height: inherit;">
        <div style="display: flex; flex-direction: row; align-items: center;">
            <div>
                <h1 style="
                    -webkit-text-stroke-width: 2px; 
                    -webkit-text-stroke-color: black; 
                    font-weight: 900; font-family: Arial, Helvetica, sans-serif; 
                    text-align: center;
                    width: 75%;
                    ">It's your business. It's your decision.</h1>
            </div>
            <div style="display: flex; flex-direction: column;">
                <img src="images/LMP-BlueFlame.png" style="width: 300px; margin-bottom: 10px;">
                <button
                    style="
                    background-color: var(--dark-background); 
                    color: var(--dark-primary); 
                    font-family: inherit;
                    padding: 10px 5px;
                    border-radius: 6px;
                    font-weight: 600;
                    width: 300px;
                    text-transform: uppercase;
                    "
                >
                Buy Our Poster</button>
            </div>  
        </div>
    </div>
</div>
<Section class="section" relative id="Articles__Hero">
    <div class="subheading-container">
        <div class="grid-controls-container">
            <button id="btnGrid" class="grid-button">
                {{ partial "icons/ui/tiles.html" . }}
            </button>
            <button id="btnRows" class="grid-button">
                {{ partial "icons/ui/rows.html" . }}
            </button>
        </div>
    </div>
</Section>

{{ $script := resources.Get "js/toggleLayout.js" }}
<script src="{{ $script.RelPermalink }}"></script>
