<section class="contact-us">
    <h1>Subscribe To Our Newsletter</h1>

    <form action="https://tts0npyxgc.execute-api.us-west-1.amazonaws.com/prod/save" method="POST" id="contact-us-form" class="newsletter-subscription-container">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Full name">
        </div>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" name="email"
                placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="text" class="form-control" id="phone" name="phone"
                placeholder="Enter phone">
        </div>
        <div class="form-group">
            <label for="zipCode">Zip Code</label>
            <input type="text" class="form-control" id="zipCode" name="zipCode"
                    placeholder="Enter zip">
        </div>
        <p class="thanks">Thanks! We'll contact you soon.</p>
        <button type="submit" class="newsletter-btn btn-primary g-recaptcha"
        data-sitekey="6LdrWS0UAAAAAPAokGKpRhrObJkaaCX0EMsEiofN"
        data-callback="onContctUsSubmit" data-badge="inline" onclick="submitForm()" >Submit</button>
    </form>
    <script>
        let tag = "form#contact-us-form";
        let uriu = "https://tts0npyxgc.execute-api.us-west-1.amazonaws.com/prod/save";
        document.querySelector(tag).onsubmit = async (e) => {
            e.preventDefault();
            try {
                const contactForm = e.target;
                const formData = {};
                for (var i = 0; i < contactForm.length-1; i++){
                    if(contactForm[i].value) formData[contactForm[i].name] = contactForm[i].value
                }
                // const myform = new FormData(e.target);
                let data = JSON.stringify(formData);
                console.log(data);
                const response = await fetch(uriu, {
                    method: "POST",
                    body: data,
                });

                if (!response.ok) {
                    return Promise.reject(response);
                }
                return await response.json();
            } catch (error) {
                console.log(error);
            }
        };
    </script>
</section>