<form action="https://tts0npyxgc.execute-api.us-west-1.amazonaws.com/prod/save" method="POST" id="contact-us-form" class="subscription-container">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Full name">
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email"
               placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="phone">Phone number</label>
        <input type="text" class="form-control" id="phone" name="phone"
               placeholder="Enter phone">
    </div>
    <div class="form-group">
        <label for="zipCode">Message</label>
        <input type="text" class="form-control" id="zipCode" name="zipCode"
                  placeholder="Enter zip">
    </div>
    <p class="thanks">Thanks!  We'll contact you soon.</p>
    <button type="submit" class="btn btn-primary g-recaptcha"
      data-sitekey="6LdrWS0UAAAAAPAokGKpRhrObJkaaCX0EMsEiofN"
      data-callback="onContctUsSubmit" data-badge="inline" onclick="submitForm()" >Submit</button>
</form>
<script>
    function submitForm(s){
        var form = document.querySelector("form#contact-us-form");
        var formData = JSON.stringify(form.serializeArray());
        var url = form.action;
        $.ajax({
            type: "POST",
            url: document.querySelector("form#contact-us-form"),
            data: formData,
            success: function(){},
            dataType: "json",
            contentType : "application/json"
        });

    }
</script>