<div class="header-container">
  <Section class="brand-info">
    <div class="nav-container">
      <a class="logo-link" href="/">
        {{ partial "icons/ui/logo.html" . }}
        <span class="header-hidden">Navigate back to the homepage</span>
      </a>
      <div class="menu-container">
        <nav class="header-menu">{{ partial "main-menu.html" . }}</nav>
          <div class="nav-controls">
              {{ partial "mobile-menu-button.html" . }}
          </div>
      </div>
    </div>
  </Section>
</div>
{{ partial "mobile-menu.html" . }}

  {{ $script := resources.Get "js/toggleMenu.js" }}
  <script src="{{ $script.RelPermalink }}"></script>
  
  {{ $script := resources.Get "js/toggleColors.js" }}
  <script src="{{ $script.RelPermalink }}"></script>
  
  {{ $script := resources.Get "js/copyUrl.js" }}
  <script src="{{ $script.RelPermalink }}"></script>